/*start media queries*/
/* small media*/
@media (min-width: 768px) {
    .design{
        width: 750px;
    }
}
/*medium media*/
@media (min-width:992px){
    .design{
        width: 970px;
    }
}
/*large media*/
@media (min-width:1200px) {
    .design{
        width: 1170px;
    }
}
/*end media queries*/

body {
    background-color: #f16059;
  }
  .design {
    width: 80%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
    background-color: #f16059;
    border-radius: 5px;
  }
  body {
    font: 14px/26px 'Bungee', Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
  }
  header{
    font-size: 24px;
    line-height: 48px;
  }
  h4 {
    font-size: 21px;
    font-family: 'Bungee', cursive;
  }
  h4 #asd{
    font-size: 36px;
    display: block;
    padding: 5px 0px;
  }
  h1, h2, h3, h6 {
    font-family: 'Bungee Shade', cursive;
  }
  
  #DefaultImage {
    max-width:20em
  }
  
  #alert {
    margin: 0 auto;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 10px;
    border:10px solid #222;
  }
  #WakeUpTimeSelect, #LunchTimeSelect, #SleepTimeSelect {
    padding: 10px 0;
  }